.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #fff;
}

.logo {
  background-image: url(/Imagenes/Logo/loggo.webp);
  width: 30px;
  height: 30px;
  font-size: 1.125rem;
  text-anchor: middle;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.boton {
  position: relative;
  background: #84bdec;
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 5px 8px;
  transition: width 0.6s, border-radius 0.5s;
}

.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #fff;
}

.logo {
  background-image: url(/Imagenes/Logo/loggo.webp);
  width: 30px;
  height: 30px;
  font-size: 1.125rem;
  text-anchor: middle;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  /* Declare heights because of positioning of img element */
  /* --------RESPONSIVE CSS CAROUSEL------*/
}
.carousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel .carousel-item {
  height: 32rem;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
@media (min-width: 40em) {
  .carousel .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .carousel .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .carousel .featurette-heading {
    margin-top: 7rem;
  }
}

.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #fff;
}

.logo {
  background-image: url(/Imagenes/Logo/loggo.webp);
  width: 30px;
  height: 30px;
  font-size: 1.125rem;
  text-anchor: middle;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-container {
  max-width: 80rem;
}
.cover-container h3 {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.7);
}
.cover-container .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(136, 135, 135, 0.973);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  margin-left: 1rem;
  text-shadow: none;
}
.cover-container .nav-link:hover,
.cover-container .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
  color: rgba(182, 177, 177, 0.856);
  font-size: 1.1rem;
}
.cover-container .active {
  color: #fff;
  border-bottom-color: #fff;
}

.body__index {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.7);
  background-image: url(/Imagenes/Back/imgPortada.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.body__index .btn-second {
  color: rgb(116, 113, 113);
  text-shadow: none;
}
.body__index .btn-second .btn-second:hover,
.body__index .btn-second .btn-second:focus {
  color: rgb(63, 62, 62);
}
.body__index .main__index {
  font-family: "Poppins", sans-serif;
}

.container-productos {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.content__productos {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.content__productos .living__contenedor {
  background-image: url(/Imagenes/Productos/living__productos.jpg);
}
.content__productos .cocina__contenedor {
  background-image: url(/Imagenes/Productos/cocina__productos.jpg);
}
.content__productos .comedor__contenedor {
  background-image: url(/Imagenes/Productos/comedor__productos.jpg);
}
.content__productos .habitacion__contenedor {
  background-image: url(/Imagenes/Productos/habitacion__productos.jpg);
}
.content__productos .contenedor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
  margin: 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  transition: 0.5s;
}
.content__productos .contenedor:hover {
  transform: scale(1.02);
}
.content__productos .contenedor a {
  text-decoration: none;
  color: rgb(241, 233, 233);
  text-shadow: 0 0.1rem 0.1rem rgba(1, 1, 1, 0.7);
  text-transform: uppercase;
}
@media screen and (max-width: 690px) {
  .content__productos .contenedor {
    width: 80%;
    height: 200px;
  }
}

.container-empresa {
  font-family: "open sans";
  font-size: 16px;
  background-color: rgba(236, 234, 234, 0.9843137255);
}
.container-empresa h1, .container-empresa h2, .container-empresa h3 {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.7);
}
.container-empresa .header-empresa {
  width: 100%;
  height: 650px;
  background-image: url(/Imagenes/Empresa/empresa-bg2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.container-empresa .header-empresa .textos {
  margin-top: -490px;
}
.container-empresa .header-empresa .textos .titulo {
  font-size: 85px;
}
.container-empresa .header-empresa .textos .subtitulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}
.container-empresa .header-empresa .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}
.container-empresa .sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent rgba(236, 234, 234, 0.9843137255) transparent;
}
.container-empresa .sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: rgba(236, 234, 234, 0.9843137255) transparent transparent transparent;
}
.container-empresa .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}
.container-empresa .contenedor .sobre-nosotros {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600;
}
.container-empresa .contenedor .slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}
.container-empresa .contenedor .parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: rgb(24, 16, 16);
}
.container-empresa .galeria-empresa {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.container-empresa .galeria-empresa .imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.container-empresa .galeria-empresa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-empresa .galeria-empresa .encima {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.815);
}
.container-empresa .galeria-empresa .encima h2 {
  position: relative;
  top: 45%;
  text-align: center;
  color: #fff;
}
.container-empresa .galeria-empresa .encima div {
  position: relative;
  display: block;
  top: 46%;
  width: 40px;
  height: 5px;
  background: #fff;
  margin: auto;
}
.container-empresa .cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-empresa .cards .card {
  display: block;
  margin: 20px 0;
  width: 30%;
  height: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}
.container-empresa .cards .card .img-miembros {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}
.container-empresa .fondo {
  height: 900px;
  position: relative;
  background-image: url(/Imagenes/Empresa/fondo.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}
.container-empresa .fondo .titulo-patrocinadores,
.container-empresa .fondo .subtitulo-patrocinadores {
  color: #fff;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.7);
}
.container-empresa .fondo .titulo-patrocinadores {
  font-size: 56px;
  margin-top: 48px;
}
.container-empresa .fondo .subtitulo-patrocinadores {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 64px;
}
.container-empresa .fondo .clientes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
  width: 100%;
  justify-content: space-between;
}
.container-empresa .fondo .clientes .cliente {
  width: 30%;
}
.container-empresa .fondo .clientes .cliente img {
  width: 100%;
}
.container-empresa .fondo .sesgoabajo-unico {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #2c3e50 transparent;
}
.container-empresa .footer-empresa {
  background: #2c3e50;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .container-empresa .card {
    width: 48%;
  }
}
@media screen and (max-width: 660px) {
  .container-empresa .header-empresa .textos {
    margin-top: -530px;
  }
  .container-empresa .header-empresa .textos .titulo {
    font-size: 75px;
  }
  .container-empresa .none {
    display: none;
  }
  .container-empresa .imagenes {
    flex-grow: 1;
  }
  .container-empresa .card {
    width: 90%;
  }
  .container-empresa .fondo {
    height: auto;
  }
  .container-empresa .especial {
    display: none;
  }
  .container-empresa .cards {
    display: flex;
  }
  .container-empresa .cards .card {
    width: 250px;
    margin: 10px;
  }
  .container-empresa .cards .img-miembros {
    margin: auto;
  }
  .container-empresa .cliente {
    width: 90%;
    height: 200px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .container-empresa .header-empresa .textos {
    margin-top: -500px;
  }
  .container-empresa .titulo {
    font-size: 45px !important;
  }
  .container-empresa .subtitulo {
    font-size: 20px !important;
    margin-bottom: 32px;
  }
  .container-empresa .sobre-nosotros {
    font-size: 36px;
  }
  .container-empresa .titulo-patrocinadores {
    font-size: 46px;
  }
  .container-empresa .subtitulo-patrocinadores {
    font-size: 20px;
  }
  .container-empresa .cliente {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 380px) {
  .container-empresa .body__index {
    font-size: 5px;
  }
}

.content-ingresar {
  background-image: url(/Imagenes/Back/back-cuenta.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding-bottom: 40px;
}
.content-ingresar .init {
  font-weight: 500;
}
.content-ingresar .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.content-ingresar .form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.content-ingresar .form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.content-ingresar .form-signin .form-floating:focus-within {
  z-index: 2;
}
.content-ingresar .form-signin .checkbox {
  font-weight: 400;
}
.content-ingresar .form-signin .button_ingresar {
  justify-content: center;
}

.footer__ingresar {
  margin-top: 18rem;
  color: #000;
}

.container-contacto {
  background-image: url(/Imagenes/Back/back-contacto.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}
.container-contacto .content-contacto {
  max-width: 1170px;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.container-contacto .contact-form {
  background: #222222;
  opacity: 0.9;
}
.container-contacto .contact-form .contactanos {
  color: var(--bs-light);
}
.container-contacto ul {
  list-style: none;
  padding: 0;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
  color: var(--bs-light);
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form button, .contact-form form input, .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: var(--bs-light);
  border-bottom: 1px solid var(--bs-primary);
}
.contact-form form button {
  background: #f02038;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover, .contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
  opacity: 0.9;
  overflow: hidden;
}
.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #3b5998;
}

@media (min-width: 800px) {
  .container-contacto {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
  }
}
.redes {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.redes li {
  margin: 5px;
}
.redes li .fab {
  color: var(--bs-secondary);
  font-size: 20px;
}
.redes li .fa-facebook:hover {
  color: #3b5998;
}
.redes li .fa-twitter:hover {
  color: #55acee;
}
.redes li .fa-youtube:hover {
  color: #bb0000;
}
.redes li .fa-instagram:hover {
  border-radius: 40px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.container-galeria {
  background-image: radial-gradient(circle at 45.98% 72.79%, #e7e7e5 0, #c6c9d1 50%, #a5acbd 100%);
}
.container-galeria .card {
  overflow: hidden;
  font-size: 1.125rem;
  text-anchor: middle;
  border-radius: 0.5rem;
}
.container-galeria .card .bd-placeholder-img {
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  object-fit: cover;
}
.container-galeria .card .bd-placeholder-img:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .container-galeria .card .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 990px) {
  .container-galeria .content-galeria {
    padding-top: 40px;
  }
}

.terminos-container {
  background-image: radial-gradient(circle at 45.98% 72.79%, #faffff 0, #d8e1f7 50%, #b6c4e3 100%);
}
.terminos-container .terminos {
  max-width: 90%;
  margin: auto;
}
.terminos-container .terminos span {
  font-size: 30px;
}
.terminos-container .terminos p {
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
