
      $primary: #0d6efd;
      $secondary: #adb5bd;
      $cian: #0dcaf0;  
      $green: #198754;
      $yellow: #ffc107;
      $red:#f50909;
      $light: #fff;
      $dark: #000;


    //   FONTS

    