

@import './Base/button';
@import './Base/variables';
@import './Componentes/carousel';
@import './Base/mapas';
@import './Base/mixin';
@import './Base/extends';


.container-inicio{
  background: #000000f1;
  

  & .content__portada{
    position: relative;
    border-radius: 10px;

    & .img__portada__index{
      opacity: .7;
    }
  
    & .titulo__index__h2{
      position: absolute;
      font-family: sans-serif;
      font-weight: 900;
      top: 10px;
      width: 75rem;
      height: 65rem;
      font-size: 85px;
      text-transform: uppercase;
      text-align: center;
    }

    & p{
      position: absolute;
      font-family: sans-serif;
      color: $light;
    }

    @media screen and (max-width: 991px){
   
      .titulo__index__h2{
        font-size: 65px;
        width: 45rem;
      } 
    }
  
    @media screen and (max-width: 480px){
  
      .titulo__index__h2{
        padding: 2rem;
        font-size: 26px;
      }
    }
  }
}

    // featurette
   
  // .featurette{
  //   padding: 4rem ;

  //   & .featurette-heading {
  //     font-weight: 300;
  //     line-height: 1;
  //     letter-spacing: -.05rem;
  //   }
  // }
    

  // footer a{
  //   text-decoration: none;
  //   color: #222222;
  // }

  // -------------------------

  // ---------- EMPRESA --------


  .container-empresa{
    background: #222222;

    & .content-empresa{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
     

      & h1{
        @include flex (center, center, center);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
        padding-top: 6rem;
      }

      .content__parrafo__empresa{
        display: flex;
        justify-content: flex-end;
        background: $mostaza;
        width: 60rem;
        height: 55rem;
        border-radius: 6px;

        & .h{
          width: 45rem;
          height: 50rem;
          margin: 4rem;
          background: $dark;
          color: $light;
          border-radius: 6px;
          @include flex (center, center, center);
  
          & span{
            
            font-size: 22px;
            font-family: monospace;
            white-space: nowrap;
            border-right: 4px solid;
            width: 100ch;

            animation: tipado 2s steps(100),
            blink .5s infinite step-end alternate; 
            overflow: hidden;
          }

          @keyframes tipado {
            from {width: 0 }
          }

          @keyframes blink {
            50% {border-color: transparent}
          }
        }
      }
    }

    @media screen and ( max-width: 590px) {
      
      .content-empresa{
        width: 95vw;
      }
      .content-empresa > h1{
        font-size: 30px;
      }

      .content-empresa >p{
        font-size: 20px;
        line-height: 30px;
        padding: 1rem;
        color: #285AEB;
      }       
    }
  }

  
  // -------------------


 /* ------- INGRESAR ------ */

.content-ingresar {
  background-image: url(/Imagenes/Back/back-cuenta.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 40px;
  
  & .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  
    & input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    & input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  
    & .form-floating:focus-within {
      z-index: 2;
    }
  
    & .checkbox {
      font-weight: 400;
    }
  }  
}

.footer__ingresar{
  background: $dark-opacity;
}



 /* ---- CONTACTO ---- */


.container-contacto {
  background-image: url(/Imagenes/Back/back-contacto.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;

  & .content-contacto {
    max-width: 1170px;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }

  & .contact-form {
    background: #222222;
    opacity: .9;
  
    & h3{
      color: var(--bs-light);
    } 
  }

  & ul {
    list-style: none;
    padding: 0;
  }

}


.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}


.contact-form{
  & form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & label {
      display: block;
      color: var(--bs-light);
    }

    & p {
      margin: 0;
      padding: 1em;
    }

    & .block {
      grid-column: 1 / 3;
    }

    & button,
    & input,
    & textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: var(--bs-light);
      border-bottom: 1px solid var(--bs-primary);
    }

    & button {
      background: #f02038;
      border: 0;
      text-transform: uppercase;
      padding: 1em;
    }
    
    & button:hover,
    & button:focus {
      background: #d63031;
      color: #fff;
      transition: background-color 1s ease-out;
      outline: 0;
    }
  }
} 



/* CONTACT INFO */


.contact-info {
  background: #000;
  opacity: .9;
  overflow: hidden;

  & h4, & ul, & p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #3b5998;

  }

  & .map{
    width: 97%;
  }
}


@media(min-width: 800px) {
  .container-contacto {
    padding: 0 4em;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
  }
}

    /* -- ICONOS REDES SOCIALES */

.redes{
  display: flex;
  justify-content: center;
  list-style-type: none;

  & li{
    margin: 5px;

    & .fab{
      color: var(--bs-secondary);
      font-size: 20px;
    }
    
    & .fa-facebook:hover{
      color: #3b5998;
    }
    
    & .fa-twitter:hover{
      color: #55acee;
    }
    
    & .fa-youtube:hover{
      color: #bb0000;
    }
    
    & .fa-instagram:hover{
      border-radius: 40px;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
  }
}


/* ---- GALERIA ---- */

.card{
  overflow: hidden;
  font-size: 1.125rem;
  text-anchor: middle;
 
  & .bd-placeholder-img {
    background-size: cover;
    background-position: center;
    transition: .5s;
    object-fit: cover;
  
    &:hover{
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 991px) {
  .content-galeria{
    padding-top: 40px;
  }
}
















