

@import './Base/button';
@import './Base/variables';
@import './Componentes/carousel';
@import './Base/mapas';
@import './Base/mixin';
@import './Base/extends';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 // ---- navbar ----

 .cover-container {
  max-width: 70rem;

& .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(136, 135, 135, 0.973);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    margin-left: 1rem;
    text-shadow: none;

  & .nav-link:hover,
    .nav-link:focus{
      border-bottom-color: rgba(255, 255, 255, .25);
      color: rgba(182, 177, 177, 0.856);
      font-size: 1.1rem;
    }

  & .active {
    color: #fff;
    border-bottom-color: #fff;
  }
}
}

  // -----------------------


.body__index{
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .7);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .7);
  background-image: url(/Imagenes/Back/imgPortada.webp);
  background-size: cover;
  background-position: center;
  object-fit: cover;

& .btn-second{
  color: rgb(116, 113, 113);
  text-shadow: none;

  & .btn-second:hover,
    .btn-second:focus{
      color: rgb(63, 62, 62);
  }
}

  & .main__index{
    font-family: 'Poppins', sans-serif;
  }

  @media screen and(max-width: 420px) {
    .main__index{
      margin-top: 4rem;
    }
  }
}

   
    
  // ---------- HTML Empresa --------

.container-empresa{
  font-family: 'open sans';
  font-size: 16px;
  background-color: $bg-empresa;

  & h1, h2, h3{
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .7);
  }

 & .header-empresa {
  width: 100%;
  height: 650px;
  background-image: url(/Imagenes/Empresa/empresa-bg2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;

  & .textos {
    margin-top: -490px;

  & .titulo {
    font-size: 85px;
  }
  
  & .subtitulo {
      font-size: 42px;
      font-weight: 300;
      margin-bottom: 32px;
    }  
  }

  & .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
  }
 }
  
  & .sesgoabajo {
      z-index: 10;
      position: absolute;
      bottom: 0;
      left: 0;
      border-width: 0 0 35vh 100vw;
      border-style: solid;
      border-color: transparent transparent $bg-empresa transparent;
  }

& .sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: $bg-empresa transparent transparent transparent;
}

       // ---- Main Empresa -----

& .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;

  & .sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  & .slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
  }

  & .parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
  }
}

  // ---- Galeria Empresa ----

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;

  & .imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  &  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);

    & h2 {
      position: relative;
      top: 45%;
      text-align: center;
      color: #fff;
    }

      & div {
      position: relative;
      display: block;
      top: 46%;
      width: 40px;
      height: 5px;
      background: #fff;
      margin: auto;
    }
  }
}

  // ---- Miembros Empresa ----

.cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);

    & img {
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

  // ---- Clientes Empresa ----

.fondo {
  height: 900px;
  position: relative;
  background-image: url(/Imagenes/Empresa/fondo.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;

  & .titulo-patrocinadores,
    .subtitulo-patrocinadores {
      color: #fff;
      text-align: center;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .7);
  }

  & .titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
  }

  & .subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
  }

  & .clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
    width: 100%;
    justify-content: space-between;
  
    & .cliente {
      width: 30%;
    }
  
    & .cliente img {
      width: 100%;
    }
  }

  & .sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
  }
}


// ---- Footer Empresa ----

.footer-empresa {
  background: #2c3e50;
  width: 100%;
  height: auto;
}


// ---- Responsive Empresa ----

@media screen and (max-width:900px) {
  .card {
      width: 48%;
  }
}

@media screen and (max-width:610px) {
  .header-empresa .textos {
      margin-top: -530px;

      & .titulo {
        font-size: 75px;
    }
  }

  .none {
      display: none
  }

  .imagenes {
      flex-grow: 1;
  }

  .card {
      width: 90%;
  }

  .fondo {
      height: auto;
  }

  .especial {
      display: none;
  }

  .cliente {
      width: 90%;
      height: 200px;
      margin-bottom: 50px;
  }
}

@media screen and (max-width:380px) {
  .header-empresa .textos {
      margin-top: -500px;
  }

  .titulo {
    font-size: 45px !important;
  }

  .subtitulo {
    font-size: 20px !important;
    margin-bottom: 32px;
  }

  .sobre-nosotros {
      font-size: 36px;
  }

  & .titulo-patrocinadores {
      font-size: 46px;
  }

  & .subtitulo-patrocinadores {
      font-size: 20px;
  }

  & .cliente{
    margin-bottom: 0;
  }
 }
}

     // ---------Final Empresa -------------


    // ---- HTML Ingresar ----

.content-ingresar {
  background-image: url(/Imagenes/Back/back-cuenta.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  padding-bottom: 40px;

  & .init{
    font-weight: 500;
  }
  
  & .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  
    & input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    & input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  
    & .form-floating:focus-within {
      z-index: 2;
    }
  
    & .checkbox {
      font-weight: 400;
    }

    & .button_ingresar{
      justify-content: center;
    }
  }  
}

.footer__ingresar{
  margin-top: 18rem;
  color: $dark;
}

    // ------ Final Ingresar -----



    // ---- HTML Contacto ----


.container-contacto {
  background-image: url(/Imagenes/Back/back-contacto.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;

  & .content-contacto {
    max-width: 1170px;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }

  & .contact-form {
    background: #222222;
    opacity: .9;
  
    & .contactanos{
      color: var(--bs-light);
    } 
  }

  & ul {
    list-style: none;
    padding: 0;
  }

}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form{
  & form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & label {
      display: block;
      color: var(--bs-light);
    }

    & p {
      margin: 0;
      padding: 1em;
    }

    & .block {
      grid-column: 1 / 3;
    }

    & button,
    & input,
    & textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: var(--bs-light);
      border-bottom: 1px solid var(--bs-primary);
    }

    & button {
      background: #f02038;
      border: 0;
      text-transform: uppercase;
      padding: 1em;
    }
    
    & button:hover,
    & button:focus {
      background: #d63031;
      color: #fff;
      transition: background-color 1s ease-out;
      outline: 0;
    }
  }
} 



// ---- Contac info ----


.contact-info {
  background: #000;
  opacity: .9;
  overflow: hidden;

  & h4, & ul, & p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #3b5998;
  }
}


@media(min-width: 800px) {
  .container-contacto {
    padding: 0 4em;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
  }
}

    // ---- Iconos de redes sociales ----

.redes{
  display: flex;
  justify-content: center;
  list-style-type: none;

  & li{
    margin: 5px;

    & .fab{
      color: var(--bs-secondary);
      font-size: 20px;
    }
    
    & .fa-facebook:hover{
      color: #3b5998;
    }
    
    & .fa-twitter:hover{
      color: #55acee;
    }
    
    & .fa-youtube:hover{
      color: #bb0000;
    }
    
    & .fa-instagram:hover{
      border-radius: 40px;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
  }
}

    // ------- Final contacto -----

    // ---- HTML Galeria ----
.container-galeria{
  background-image: radial-gradient(circle at 45.98% 72.79%, #e7e7e5 0, #c6c9d1 50%, #a5acbd 100%);

  & .card{
    overflow: hidden;
    font-size: 1.125rem;
    text-anchor: middle;
    border-radius: .5rem;
 
  & .bd-placeholder-img {
    background-size: cover;
    background-position: center;
    transition: .5s;
    object-fit: cover;
  
    &:hover{
      transform: scale(1.05);
    }
  }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  }

  @media (max-width: 991px) {
    .content-galeria{
      padding-top: 40px;
    }
  }
}

    // ---- html Terminos ----

 .terminos-container{
  background-image: radial-gradient(circle at 45.98% 72.79%, #faffff 0, #d8e1f7 50%, #b6c4e3 100%);

  & .terminos{
    max-width: 90%;
    margin: auto;

      & span{
        font-size: 30px;
      }

      & p{
        padding: 2rem;
      }
    }
 }
  
    // ---- Final Términos ----
















