

@import './Base/button';
@import './Base/variables';
@import './Componentes/carousel';
@import './Base/mapas';
@import './Base/mixin';
@import './Base/extends';



.container-inicio{
  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten;
  animation: fanimado 10s infinite;

  & .h2-idx{
    padding: 3rem;
    font-size: 52px;
  }

  @media screen and (max-width: 991px) {
    .col-sm-6{
      padding: 2rem;
    }
    
  }

  @media screen and (max-width: 480px){
    #parrafo-idx{
      display: none;
    }

    .h2-idx{
      padding: 2rem;
      font-size: 26px;
    }

    .col-sm-6{
      padding: 1rem;
    }
  }
}


  // marketing INDEX

.marketing .col-lg-3{
    margin-bottom: 1.5rem;
    text-align: center;
}

    // featurette
   
  .featurette{
    padding: 4rem ;

    & .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -.05rem;
    }
  }
    

  footer a{
    text-decoration: none;
    color: #222222;
  }

  // -------------------------

  // ---------- EMPRESA --------


  .container-empresa{
    background-image: url(/Imagenes/Empresa/empresa-bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
   

    & .content-empresa{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
     

      & h1{
        @include flex (center, center, center);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
        padding-top: 6rem;
      }

      & section .h{
        width: 45rem;
        height: 50rem;
        margin-top: 4rem;
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
        opacity: .6;
        border-radius: 6px;
        @include flex (center, center, center);

        & p{
          font-size: 24px;
          font-family: 'Josefin Sans', sans-serif;
          padding: 1rem; 
          
        }
      }
    }

    @media screen and ( max-width: 590px) {
      
      .content-empresa{
        width: 95vw;
      }
      .content-empresa > h1{
        font-size: 30px;
      }

      .content-empresa >p{
        font-size: 20px;
        line-height: 30px;
        padding: 1rem;
        color: #285AEB;
      }       
    }
  }

  
  // -------------------


 /* ------- INGRESAR ------ */

.content-ingresar {
  background-image: url(/Imagenes/Back/back-cuenta.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 40px;
  
  & .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  
    & input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    & input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  
    & .form-floating:focus-within {
      z-index: 2;
    }
  
    & .checkbox {
      font-weight: 400;
    }
  }  
}

.footer__ingresar{
  background: $dark-opacity;
}



 /* ---- CONTACTO ---- */


.container-contacto {
  background-image: url(/Imagenes/Back/back-contacto.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;

  & .content-contacto {
    max-width: 1170px;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }

  & .contact-form {
    background: #222222;
    opacity: .9;
  
    & h3{
      color: var(--bs-light);
    }
    
  }

  & ul {
    list-style: none;
    padding: 0;
  }

}


.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
  padding: 1em;
}


.contact-form{
  & form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & label {
      display: block;
      color: var(--bs-light);
    }

    & p {
      margin: 0;
      padding: 1em;
    }

    & .block {
      grid-column: 1 / 3;
    }

    & button,
    & input,
    & textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: var(--bs-light);
      border-bottom: 1px solid var(--bs-primary);
    }

    & button {
      background: #f02038;
      border: 0;
      text-transform: uppercase;
      padding: 1em;
    }
    
    & button:hover,
    & button:focus {
      background: #d63031;
      color: #fff;
      transition: background-color 1s ease-out;
      outline: 0;
    }
  }
} 



/* CONTACT INFO */


.contact-info {
  background: #000;
  opacity: .9;
  overflow: hidden;

  & h4, & ul, & p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #3b5998;

  }

  & .map{
    width: 97%;
  }
}


@media(min-width: 800px) {
  .container-contacto {
    padding: 0 4em;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: center;
  }
}

    /* -- ICONOS REDES SOCIALES */

.redes{
  display: flex;
  justify-content: center;
  list-style-type: none;

  & li{
    margin: 5px;

    & .fab{
      color: var(--bs-secondary);
      font-size: 20px;
    }
    
    & .fa-facebook:hover{
      color: #3b5998;
    }
    
    & .fa-twitter:hover{
      color: #55acee;
    }
    
    & .fa-youtube:hover{
      color: #bb0000;
    }
    
    & .fa-instagram:hover{
      border-radius: 40px;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
  }
}


/* ---- GALERIA ---- */

.card{
  overflow: hidden;
  font-size: 1.125rem;
  text-anchor: middle;
 
  & .bd-placeholder-img {
    background-size: cover;
    background-position: center;
    transition: .5s;
    object-fit: cover;
  
    &:hover{
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 991px) {
  .content-galeria{
    padding-top: 40px;
  }
}

.maxim{
  position: fixed;
  top: 3.5rem;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);

  & img{
    width: 75vw; 
    max-height: 70vh;
  }

  & :target{
    transform: scale(1);
  }

  & .close{
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
    background: $danger;
    color: $light;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
  }

  & .next{
    display: block;
    background: $primary;
    color: $light;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
    margin: 1rem;

  }
}














