
@import 'variables';


 .btn {
    background: $cian;
    height: 3rem;
    width: 7rem;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 8px;
    // cursor: pointer;
    transition: .6s;
    
    & :hover{
      transform: scaleX(1px);
    } 
  }