
$ligth: (
    bg-ligth: #f3d86b,
    color-ligth: #94B49F,
    border-ligth: 1px solid #7A4069,

);

$dark: (
    bg-dark: #2C3639,
    color-dark: #DCD7C9,
    border-ligth: 1px solid #A27B5C,
);

$paleta: (
    primary: #243ecf,
    secondary: #9b9da0,
    cian: #0dcaf0,
    ok: #5aaf87,
    yellow: #ffc107,
    danger:#f50909,
    light: #fff,
    dark: #1d1c1c,
    
);