
      $primary: #084196;
      $secondary: #c8cbce;
      $cian: #0dcaf0;  
      $green: #198754;
      $yellow: #ffc107;
      $red:#f50909;
      $light: #fff;
      $dark: #000;


    //   FONTS

    